.wrapper() {
  width: 300px;
  margin: 0 auto;
  padding: 0 30px;

  @media @tablet-widths {
    width: 640px;
  }

  @media @desktop-widths {
    width: 960px;
  }
}

.outline-green() {
  outline: 1px solid green;
}

.outline-orange() {
  outline: 1px solid orange;
}
