.items-reset() {
  margin: 0;
  padding: 0;

  list-style: none;
}

.clearfix() {
  &::after {
    content: "";

    display: table;
    clear: both;
  }
}

.icon-for-about-us(@n) when (@n > 0) {

  .about-us__item--@{n} {
    &::after {
      background-image: url("../img/icon-feature-@{n}.svg");
    }
  }

  .icon-for-about-us(@n - 1);
}
