.about-us {
  margin-bottom: 56px;
}

.about-us__title {
  margin: 0;
  padding-top: 27px;
}

.about-us__items {
  .items-reset();
}

.about-us__item {
  padding-top: 85px;
  padding-right: 20px;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: @black;
}

@media (min-width: @tablet-widths) {

  .about-us__title {
    padding-top: 27px;
    padding-bottom: 18px;
  }

  .about-us__items {

  }

  .about-us__item {
    padding-top: 85px;
    padding-right: 35px;
    margin-bottom: 26px;
    width: 50%;

    font-size: 20px;
    line-height: 22px;
  }
}
