.btn {
  display: block;
  width: 100%;
  text-align: center;
  background-color: white;
  border: 2px solid @text-color;
  padding: 14px 0;
  box-sizing: border-box;

  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: @text-color;
  text-decoration: none;
  text-transform: uppercase;
}
