.feedback {
  position: relative;
  order: 1;

  padding-bottom: 51px;

  &::after {
    content: "";
    position: absolute;
    order: 2;
    height: 7px;
    width: 100%;
    bottom: 0;

    background-image: url("../img/bg-zigzag-line.svg");
    background-size: contain;
    background-repeat: repeat-x;
    background-position: bottom;
  }
}

.feedback__title {
  margin: 0;
  margin-bottom: 24px;
}

.feedback__item {
  margin: 0;
  padding-bottom: 26px;

  p {
    margin: 0;
    margin-bottom: 24px;
    padding-right: 15px;
  }
}

.feedback__author-name {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: @black;
  font-style: normal;

  span {
    font-size: 17px;
    line-height: 30px;
    font-weight: normal;
    color: @text-color;
  }
}

.feedback__btn {
  margin-bottom: 38px;
  width: 100%;

  display: flex;
  flex-direction: row;
}

.feedback__prev,
.feedback__next {
  width: 50%;
  height: 52px;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0;

  border: 1px solid @border-color;

  &:hover {
    background-color: @white;

    svg {
      opacity: 0.6;
    }
  }

  &:active {
    background-color: @white;

    svg {
      opacity: 0.3;
    }
  }
}


@media (min-width: @tablet-widths) {

  .feedback {
    padding-bottom: 83px;

    &::after {
      height: 17px;
    }

    &__wrapper {
      padding-top: 78px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 center;

      @media @retina {
        background-image: url("../img/review@2x.jpg");
      }
    }
  }

  .feedback__title {
    margin-bottom: 48px;
    order: -2;
  }

  .feedback__write {
    width: @big-padding;
    order: -1;
  }

  .feedback__item {
    padding-bottom: 46px;

    p {
      margin-bottom: 55px;
    }
  }

  .feedback__btn {
    width: 25%;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: -100px;

    button {
      border: none;
    }
  }

}

@media (min-width: @desktop-widths) {

  .feedback {
    padding-bottom: 90px;

    &__wrapper {
      padding-top: 70px;
      padding-bottom: 48px;
      background-position: 50px center;
    }
  }

  .feedback__title {
    padding-left: @big-padding;
  }

  .feedback__item {
    padding-left: @big-padding;
    padding-bottom: 46px;

    p {
      margin-bottom: 36px;
      padding-right: 100px;
    }
  }

  .feedback__btn {
    width: round(100%/6, 3);
  }

  .feedback__write {
    margin-top: 6px;
  }

}
