.product__title {

  position: relative;

  padding: 0;
  margin-top: 28px;
  margin-bottom: 48px;

  &::before {
    content: "ТОВАР НЕДЕЛИ";
    position: absolute;

    top: 35px;
    left: 0;

    font-size: 17px;
    line-height: 20px;
    font-weight: bold;
    color: @color-main;
    text-transform: uppercase;
  }

}

.product__description {
  margin-bottom: 16px;
  line-height: 24px;
}

.product__table-properties {
  width: 100%;
  margin-bottom: 26px;
  border-collapse: collapse;
}

.product__table-properties td {
  padding: 5px 0;
  padding-right: 25px;
  border-bottom: 1px solid @border-color;
}

.product__price {
  text-align: center;
  margin-top: 14px;
  margin-bottom: 25px;

  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  color: @text-color;
}

.product img {
  width: 260px;
  height: 315px;
}

.product__cart {
  margin-bottom: 50px;
}

@media (min-width: @tablet-widths) {



}








@media (min-width: @desktop-widths) {

}
