.product-video {
  display: flex;
  flex-direction: column;

  border: 1px solid @border-catalog-item;
}

.product-video__title {
  padding-left: 90px;
  margin-top: 23px;
  margin-bottom: 24px;
  order: -1;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 22px;

    top: 10px;
    left: 33px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.product-video__video {
  display: flex;

  width: 260px;
  height: 150px;

  background-image: url("../img/video-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;

  @media @retina {
    background-image: url("../img/video-mobile@2x.jpg");
    background-size: 260px auto;
  }
}

.product-video__play {
  margin: auto;
  width: 101px;
  height: 77px;
  border: none;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.product-video__description {
  font-size: @font-size-small;
  line-height: @line-height;
  font-weight: normal;
  color: @text-color;
  margin-top: 27px;
  margin-bottom: 24px;
  padding-right: 20px;
}

.product-video__box {
  padding: 0 33px;
  padding-bottom: 33px;
}

@media (min-width: @tablet-widths) {

  .product-video {
    display: block;
  }

  .product-video__video {
    width: 100%;
    height: 455px;

    background-image: url("../img/video-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media @retina {
      background-image: url("../img/video-tablet@2x.jpg");
      background-size: 668px auto;
    }
  }

  .product-video__title {
    padding-left: 106px;
    margin-top: 40px;
    margin-bottom: 32px;

    &::before {
      top: -2px;
      left: 40px;
    }
  }

   .product-video__box {
    padding: 0 42px;
    padding-bottom: 45px;
  }

  .product-video__description {
    margin-top: 0;
    margin-bottom: 33px;

    font-size: @base-font-size;
    line-height: @base-line-height;
  }
}

@media (min-width: @desktop-widths) {

  .product-video {
    .clearfix();
  }

  .product-video__video {
    float: left;
    width: 682px;
    height: 455px;

    background-image: url("../img/video-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;

    @media @retina {
      background-image: url("../img/video-desktop@2x.jpg");
      background-size: 682px auto;
    }
  }

  .product-video__title {
    margin-left: 680px;
    margin-top: 0;
    margin-bottom: 34px;
    padding-left: 78px;
    padding-right: 107px;
    padding-top: 95px;

    &::before {
      top: 45px;
      left: 80px;
    }
  }

  .product-video__box {
    margin-left: 680px;
    padding: 0;
    padding-left: 78px;
    padding-right: 57px;
  }

  .product-video__description {
    margin-bottom: 45px;
  }
}
