.social-links {
  display: flex;
  width: 150px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 0;
  background-color: @footer-bg-color;

  &:hover {

    svg path {
      fill: #46c1ae;
    }
  }

  &:active {

    svg path {
      opacity: 0.3;
    }
  }
}
